<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.generalstore.jayambica.storemanager">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".StartActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="Home" />
        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".HomeActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CurrentStockActivity"
            android:label="Current Stock"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".ExpireItemsActivity"
            android:label="Expire Items"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".ShowInvoiceActivity"
            android:label="Invoice"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".AddInvoiceActivity"
            android:label="Add Invoice"
            android:parentActivityName=".ShowInvoiceActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ShopActivity"
            android:label="Shop"
            android:parentActivityName=".HomeActivity" />
        <activity android:name=".AddInvoiceItemsActivity" />
    </application>

</manifest>